<div class="relative">
    {{ if eq .type "textarea" }}
    <textarea 
        name="{{ .for }}"
        placeholder=" "
        rows="1"
        class="input-field w-full px-4 py-3 text-light text-sm tracking-wider rounded-md"    
    ></textarea>
    {{ else }}
    <input 
        type="{{ .type }}" 
        name="{{ .for }}"
        placeholder=" "
        class="input-field w-full px-4 py-3 text-light text-sm tracking-wider rounded-md"
    />
    {{ end }}
    <label class="label text-light text-sm uppercase">
        <span class="inline-block">&#9656;</span> {{ .for }}
    </label>
</div>