{{ define "main" }} {{/* hero */}}
<section class="bg-linear-to-br from-dark to-primary from-80% relative">
  <img
    src='{{ "images/dev/hero_lines.svg" | relURL }}'
    class="absolute size-full top-1/2 -translate-y-1/2 opacity-20"
  />
  <div
    class="max-w-2xl mx-auto pt-50 pb-30 px-5 flex flex-col gap-12 relative"
    data-aos="zoom-out"
    data-aos-duration="900"
  >
    <div class="flex items-center" data-aos="fade-up" data-aos-delay="200">
      <span
        class="font-primary text-light text-sm font-semibold uppercase bg-primary p-3 rounded-md -skew-y-12"
      >
        hackita academy
      </span>
    </div>
    <h1
      class="font-primary text-light text-5xl font-bold text-center text-balance leading-14"
      data-aos="fade-up"
      data-aos-delay="400"
    >
      Learn Cyber-Security
    </h1>
    <div
      class="flex items-center justify-end"
      data-aos="fade-up"
      data-aos-delay="600"
    >
      <span
        class="font-primary text-light text-sm font-semibold uppercase bg-primary p-3 rounded-md -skew-y-12"
      >
        hack smarter
      </span>
    </div>
    <p
      class="font-primary text-light text-lg text-center text-balance"
      data-aos="fade-up"
      data-aos-delay="900"
    >
      From the basics to the OSCP level: <br />
      <span id="typewriter" class="text-primary font-semibold"></span>
      to become a true pentester.
    </p>

    <!-- Source words (hidden) -->
    <div id="typewriter-data" class="hidden">
      <span>technical walkthroughs</span>
      <span>commands</span>
      <span>common errors</span>
      <span>real lab notes</span>
    </div>
  </div>
</section>
{{/* /hero */}} {{/* services */}}
<section class="bg-linear-to-tr from-dark to-primary from-80%">
  <div class="container py-30 px-5 mx-auto grid lg:grid-cols-2 gap-y-15">
    <div class="flex flex-col gap-10">
      <h3
        class="font-primary text-5xl text-light text-balance font-bold leading-14"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        Inside HackITA you will find:
      </h3>
      <p
        class="font-primary text-light text-lg text-balance"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        Everything you need to become a pentester.
      </p>
    </div>
    <div id="stats-grid" class="relative md:columns-2 gap-5 space-y-5">
      <div
        data-aos="zoom-in"
        data-aos-delay="200"
        class="card-spotlight flex flex-col gap-y-5 text-center rounded-md bg-glass border-light/20 border p-7"
      >
        <span class="font-primary text-primary text-3xl font-black">12+</span>
        <h5 class="font-primary text-light text-2xl font-semibold">
          Technical Articles
        </h5>
        <p class="font-primary text-light">Walkthroughs, tips and labs.</p>
      </div>

      <div
        data-aos="zoom-in"
        data-aos-delay="400"
        class="card-spotlight flex flex-col gap-y-5 text-center rounded-md bg-glass border-light/20 border p-7"
      >
        <span class="font-primary text-primary text-3xl font-black">12+</span>
        <h5 class="font-primary text-light text-2xl font-semibold">
          Main Categories
        </h5>
        <p class="font-primary text-light">Linux, Windows, Web…</p>
      </div>

      <div
        data-aos="zoom-in"
        data-aos-delay="600"
        class="card-spotlight flex flex-col gap-y-5 text-center rounded-md bg-glass border-light/20 border p-7"
      >
        <span class="font-primary text-primary text-3xl font-black">OSCP</span>
        <h5 class="font-primary text-light text-2xl font-semibold">Focused</h5>
        <p class="font-primary text-light">Structure designed for OSCP/OSWE.</p>
      </div>

      <div
        data-aos="zoom-in"
        data-aos-delay="800"
        class="card-spotlight flex flex-col gap-y-5 text-center rounded-md bg-glass border-light/20 border p-7"
      >
        <span class="font-primary text-primary text-3xl font-black">100%</span>
        <h5 class="font-primary text-light text-2xl font-semibold">
          Red Team Vibes
        </h5>
        <p class="font-primary text-light">Zero fluff — only real content.</p>
      </div>
    </div>
  </div>
</section>
{{/* /services */}} {{/* categories */}}
<section class="bg-light">
  <div class="container mx-auto py-30 px-5 space-y-15">
    <div class="max-w-2xl mx-auto text-center flex flex-col gap-10">
      <h3
        class="font-primary text-5xl text-dark font-bold leading-14"
        data-aos="fade-up"
      >
        Browse HackITA Categories
      </h3>
      <p
        class="font-primary text-dark text-lg"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        Choose what you want to learn
      </p>
    </div>

    <div class="grid lg:grid-cols-3 gap-y-15 items-start">
      <!-- IMAGE SLIDER -->
      <div class="lg:col-span-2 relative overflow-hidden" id="imageSlider">
        <img
          data-slide="0"
          src='{{ "images/guide-risorse.webp" | relURL }}'
          class="slide-image active"
        />
        <img
          data-slide="1"
          src='{{ "images/cve.webp" | relURL }}'
          class="slide-image hidden"
        />
        <img
          data-slide="2"
          src='{{ "images/linux.webp" | relURL }}'
          class="slide-image hidden"
        />
        <img
          data-slide="3"
          src='{{ "images/networking.webp" | relURL }}'
          class="slide-image hidden"
        />
        <img
          data-slide="4"
          src='{{ "images/tools.webp" | relURL }}'
          class="slide-image hidden"
        />
        <img
          data-slide="5"
          src='{{ "images/walkthrough.webp" | relURL }}'
          class="slide-image hidden"
        />
        <img
          data-slide="6"
          src='{{ "images/web-hacking.webp" | relURL }}'
          class="slide-image hidden"
        />
        <img
          data-slide="7"
          src='{{ "images/windoes.webp" | relURL }}'
          class="slide-image hidden"
        />
      </div>

      <!-- TEXT BOXES -->
      <div class="divide-y divide-dark/20">
        <div
          data-target="0"
          class="image-box p-5 space-y-5 cursor-pointer active"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">
            Guides and Resources
          </h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>

        <div
          data-target="1"
          class="image-box p-5 space-y-5 cursor-pointer"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">CVE</h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>

        <div
          data-target="2"
          class="image-box p-5 space-y-5 cursor-pointer"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">Linux</h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>

        <div
          data-target="3"
          class="image-box p-5 space-y-5 cursor-pointer"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">
            Networking
          </h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>

        <div
          data-target="4"
          class="image-box p-5 space-y-5 cursor-pointer"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">Tools</h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>

        <div
          data-target="5"
          class="image-box p-5 space-y-5 cursor-pointer"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">
            Walkthroughs
          </h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>

        <div
          data-target="6"
          class="image-box p-5 space-y-5 cursor-pointer"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">
            Web Hacking
          </h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>

        <div
          data-target="7"
          class="image-box p-5 space-y-5 cursor-pointer"
        >
          <h5 class="font-primary text-dark text-2xl font-semibold">Windows</h5>
          <p class="font-primary text-dark hidden">
            Lorem ipsum dolor sit amet...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/* /categories */}} {{/* articles */}}
<section class="bg-light">
  <div class="container mx-auto py-30 px-5 space-y-15">
    <div class="flex flex-wrap justify-between items-center gap-5">
      <h3
        class="font-primary text-5xl text-dark font-bold leading-14"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        Latest Articles
      </h3>
      <div data-aos="fade-up" data-aos-delay="300">
        {{ partial "components/button.html" (dict "link" "true" "light" "true"
        "label" "Browse All" "url" "/blog/") }}
      </div>
    </div>

    <div class="divide-y divide-dark/20">
      <div
        class="flex flex-col-reverse lg:flex-row justify-between items-stretch gap-y-15 py-15 max-w-lg mx-auto lg:max-w-max"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="flex flex-col justify-center gap-y-5 lg:w-2/3">
          <div class="flex items-center gap-7 flex-wrap">
            <span class="font-primary text-dark text-sm"
              >Published Jan 24, 2025</span
            >
            {{ partial "components/link.html" (dict "light" "true" "label"
            "#Networking" "url" "#" "class" " text-sm") }}
          </div>
          <h5
            class="font-primary text-dark text-2xl font-semibold text-balance"
          >
            From Beginner to Pentester: The Essential Skills You Must Learn
            First
          </h5>
          <div>
            {{ partial "components/button.html" (dict "link" "true" "light"
            "true" "label" "Read More" "url" "#") }}
          </div>
        </div>
        <img
          src='{{ "images/linux.webp" | relURL }}'
          alt=""
          class="lg:w-1/3 rounded-md size-full"
        />
      </div>

      <div
        class="flex flex-col-reverse lg:flex-row justify-between items-stretch gap-y-15 py-15 max-w-lg mx-auto lg:max-w-max"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="flex flex-col justify-center gap-y-5 lg:w-2/3">
          <div class="flex items-center gap-7 flex-wrap">
            <span class="font-primary text-dark text-sm"
              >Published Jan 24, 2025</span
            >
            {{ partial "components/link.html" (dict "light" "true" "label"
            "#Networking" "url" "#" "class" " text-sm") }}
          </div>
          <h5
            class="font-primary text-dark text-2xl font-semibold text-balance"
          >
            From Beginner to Pentester: The Essential Skills You Must Learn
            First
          </h5>
          <div>
            {{ partial "components/button.html" (dict "link" "true" "light"
            "true" "label" "Read More" "url" "#") }}
          </div>
        </div>
        <img
          src='{{ "images/linux.webp" | relURL }}'
          alt=""
          class="lg:w-1/3 rounded-md size-full"
        />
      </div>

      <div
        class="flex flex-col-reverse lg:flex-row justify-between items-stretch gap-y-15 py-15 max-w-lg mx-auto lg:max-w-max"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="flex flex-col justify-center gap-y-5 lg:w-2/3">
          <div class="flex items-center gap-7 flex-wrap">
            <span class="font-primary text-dark text-sm"
              >Published Jan 24, 2025</span
            >
            {{ partial "components/link.html" (dict "light" "true" "label"
            "#Networking" "url" "#" "class" " text-sm") }}
          </div>
          <h5
            class="font-primary text-dark text-2xl font-semibold text-balance"
          >
            From Beginner to Pentester: The Essential Skills You Must Learn
            First
          </h5>
          <div>
            {{ partial "components/button.html" (dict "link" "true" "light"
            "true" "label" "Read More" "url" "#") }}
          </div>
        </div>
        <img
          src='{{ "images/linux.webp" | relURL }}'
          alt=""
          class="lg:w-1/3 rounded-md size-full"
        />
      </div>

      <div
        class="flex flex-col-reverse lg:flex-row justify-between items-stretch gap-y-15 py-15 max-w-lg mx-auto lg:max-w-max"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="flex flex-col justify-center gap-y-5 lg:w-2/3">
          <div class="flex items-center gap-7 flex-wrap">
            <span class="font-primary text-dark text-sm"
              >Published Jan 24, 2025</span
            >
            {{ partial "components/link.html" (dict "light" "true" "label"
            "#Networking" "url" "#" "class" " text-sm") }}
          </div>
          <h5
            class="font-primary text-dark text-2xl font-semibold text-balance"
          >
            From Beginner to Pentester: The Essential Skills You Must Learn
            First
          </h5>
          <div>
            {{ partial "components/button.html" (dict "link" "true" "light"
            "true" "label" "Read More" "url" "#") }}
          </div>
        </div>
        <img
          src='{{ "images/linux.webp" | relURL }}'
          alt=""
          class="lg:w-1/3 rounded-md size-full"
        />
      </div>

      <div
        class="flex flex-col-reverse lg:flex-row justify-between items-stretch gap-y-15 py-15 pb-0 max-w-lg mx-auto lg:max-w-max"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="flex flex-col justify-center gap-y-5 lg:w-2/3">
          <div class="flex items-center gap-7 flex-wrap">
            <span class="font-primary text-dark text-sm"
              >Published Jan 24, 2025</span
            >
            {{ partial "components/link.html" (dict "light" "true" "label"
            "#Networking" "url" "#" "class" " text-sm") }}
          </div>
          <h5
            class="font-primary text-dark text-2xl font-semibold text-balance"
          >
            From Beginner to Pentester: The Essential Skills You Must Learn
            First
          </h5>
          <div>
            {{ partial "components/button.html" (dict "link" "true" "light"
            "true" "label" "Read More" "url" "#") }}
          </div>
        </div>
        <img
          src='{{ "images/linux.webp" | relURL }}'
          alt=""
          class="lg:w-1/3 rounded-md size-full"
        />
      </div>
    </div>
  </div>
</section>
{{/* /articles */}} {{/* track */}}
<section class="bg-dark">
  <div class="container mx-auto px-5 py-30 space-y-15">
    <div class="max-w-2xl mx-auto flex flex-col gap-10 text-center">
      <div class="flex items-center" data-aos="fade-up">
        <span
          class="font-primary text-light text-sm font-semibold uppercase bg-primary p-3 rounded-md -skew-y-12"
        >
          what we offer
        </span>
      </div>
      <h3
        class="font-primary text-5xl text-light font-bold leading-14"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        Explore Our HackITA Training Tracks
      </h3>
    </div>
    <div>
      <!-- component -->
      <div class="container mx-auto size-full">
        <div class="relative wrap overflow-hidden h-full">
          <div
            class="border-2-2 absolute border-opacity-20 h-full w-0.5 bg-linear-to-b from-transparent via-primary/40 to-transparent left-1/2"
          ></div>
          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-primary/50 shadow-xl w-8 h-8 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-light font-primary">
                1
              </h1>
            </div>
            <div class="order-1 bg-glass rounded-md shadow-xl w-5/12 p-5">
              <h3 class="mb-3 font-bold text-light text-xl font-primary">
                Hands-On Pentesting Labs
              </h3>
              <p class="text-sm text-light font-primary">
                Train with real-world vulnerable machines and step-by-step
                exploitation challenges designed to build practical offensive
                security skills.
              </p>
            </div>
          </div>

          <!-- left timeline -->
          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-primary/50 shadow-xl w-8 h-8 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-light font-primary">
                2
              </h1>
            </div>
            <div class="order-1 bg-glass rounded-md shadow-xl w-5/12 p-5">
              <h3 class="mb-3 font-bold text-light text-xl font-primary">
                CVE
              </h3>
              <p class="text-sm text-light font-primary">
                Master vulnerability research with deep dives into real CVEs,
                exploit chains, patches, and how attackers weaponize weaknesses
                in modern systems.
              </p>
            </div>
          </div>

          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-primary/50 shadow-xl w-8 h-8 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-light font-primary">
                3
              </h1>
            </div>
            <div class="order-1 bg-glass rounded-md shadow-xl w-5/12 p-5">
              <h3 class="mb-3 font-bold text-light text-xl font-primary">
                Linux & Windows Privilege Escalation
              </h3>
              <p class="text-sm text-light font-primary">
                Learn proven privesc techniques with hands-on scenarios covering
                kernel exploits, misconfigurations, credentials, SUID/ACL abuse,
                and AD escalation paths.
              </p>
            </div>
          </div>

          <!-- left timeline -->
          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-primary/50 shadow-xl w-8 h-8 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-light font-primary">
                4
              </h1>
            </div>
            <div class="order-1 bg-glass rounded-md shadow-xl w-5/12 p-5">
              <h3 class="mb-3 font-bold text-light text-xl font-primary">
                Web Application Hacking & Bug Bounty Skills
              </h3>
              <p class="text-sm text-light font-primary">
                Understand critical web vulnerabilities through practical
                exercises, modern attack vectors, and structured methodology
                used by professional pentesters.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/* /track */}} {{/* cta */}} {{ partial "shared/cta.html" }} {{/* /cta */}} {{
end }}
